.vis-container,
.controls {
  display: flex;
  justify-content: center;
}

.control {
  margin-right: 10px;
  background-color: none;
  border: none;
  cursor: pointer;
}

.control__label {
  font-size: 16px;
}
